* {
  text-align: center;
  font-family: 'Lucidia Monospace', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: rgb(245, 219, 136);
}
body {
  background: url(../img/brick-oven.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
#hidden1,
#hidden2,
#hidden3,
#hidden4,
#hidden-address,
#hidden5,
#hidden6 {
  background-color: rgba(66, 63, 62, 0.521);
  width: 85%;
  margin: 0 auto;
  padding: 15%;
  border-radius: 15px;
}

div.container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn.btn-warning {
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  border-radius: 15px;
}
button#submit-address {
  margin-top: 1rem;
}
#pick-up,
#delivery {
  margin-right: 1rem;
}
.hidden {
  display: none;
}
.pizza-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset#size {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
#medium-pizza {
  width: 80%;
}
@media only screen and (max-width: 767px) {
  #medium-pizza {
    width: 130%;
  }
}
fieldset#topping {
  display: flex;
  justify-content: center;
}
.topping-icon {
  width: 75%;
  margin: 0 -10rem;
}
.gray-img {
  filter: grayscale(1);
}
img {
  cursor: pointer;
}
fieldset {
  margin-top: 1rem;
}
input[type="checkbox"],
input[type="radio"]{
  display: none;
}
.form-select,
option {
  color: black;
}
span {
  color: rgba(248, 102, 35, 0.993);
}
hr {
  background-color: white;
}